.socialLogin
  button.socialLogin__github
    span.github
      <i class="fab fa-github"></i>
    |Continue with GitHub
  button.socialLogin__facebook
    span.facebook
      <i class="fab fa-facebook"></i>
    |Continue with Facebook
