.socialLogin
  button.socialLogin__github
    a(href=routes.github)
      span.github
        <i class="fab fa-github"></i>
      |Continue with GitHub
  button.socialLogin__facebook
    a(href=routes.facebook)
      span.facebook
        <i class="fab fa-facebook"></i>
      |Continue with Facebook
  button.socialLogin__kakao
    a(href=routes.kakao)
      span.kakao
        <i class="fas fa-comment"></i>
      |Continue with KakaoTalk
