extends layouts/main.pug

block content
  div.form-container
    form(action= routes.users+routes.editProfile, method="post")
      .fileUpload
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar")
      input(type="text", name="name", placeholder="Name", value=user.name)
      input(type="email", name="email", placeholder="Email", value=user.email)
      input(type="submit", value="Save Profile")
