extends layouts/main.pug
include mixins/videoBlock

block content
  p Welcome Home!
  div.videos
    each item in videos
      +videoBlock({
        id : item.id,
        fileUrl: item.fileUrl,
        title: item.title,
        views: item.views
        })
