extends layouts/main.pug
include mixins/videoBlock

block content
  div.search
    div.search__header Searching for : #{term}
    div.search__videos
      if videos.length === 0
        h5 No Video Found
      each item in videos
        +videoBlock({
          fileUrl: item.fileUrl,
          title: item.title,
          views: item.views
          })
