extends layouts/main.pug
include mixins/videoBlock

block content
  div.search__header
    p Searching for : #{term}
  div.search__videos
    each item in videos
      +videoBlock({
        fileUrl: item.fileUrl,
        title: item.title,
        views: item.views
        })
