extends layouts/main.pug

block content
  p=pageTitle
  .user-profile
    .user-profile__header
      img.avatar(src=user.avatarUrl)
      h4.profile__username=user.name
  a(href=routes.users+routes.editProfile) Edit Profile
