extends layouts/main.pug

block content
  div.form-container
    p=pageTitle
    form(method="post")
      input(type="text", name="title", placeholder="Title", value=video.title)
      textarea(name="description", placeholder="Description")=video.description
      input(type="submit", value="Update Video")
    a.form-container__link(href=routes.videos+routes.deleteVideo(video.id))
      button.delete Delete Video 
