.video-detail__container {
  .video__player {
    border: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 5px rgba(50, 50, 93, 0.11), 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100px;
    margin-top: 25px;
    float: left;
  }
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    .video__info__header {
      display: grid;
      grid-template-columns: 4fr 1fr auto;
      align-items: end;
      padding-bottom: 1em;
      border-bottom: 1px solid grey;
      .video__title {
        font-size: 2em;
        font-weight: 300;
      }
      .video__views {
        font-size: 1em;
      }
      .video__creator {
        a {
          color: #3498db;
        }
      }
    }
    .video__description {
      margin: 1.5em;
      font-size: 1em;
    }
  }
  .video__comments {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    .video__comment-number {
      margin: 1em;
      font-size: 1.3em;
      align-self: flex-end;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      input {
        width: inherit;
        align-self: flex-end;
      }
    }
    .video__comments-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
        padding: 0.65em 1em;
        display: grid;
        grid-template-columns: 10em 1fr auto;
        // hide scrollbar
        * {
          -ms-overflow-style: none;
          scrollbar-width: none;
          box-sizing: border-box;
        }
        ::-webkit-scrollbar {
          display: none;
        }
        //
        a:first-child {
          height: auto;
          width: 10em;
          overflow-x: hidden;
          color: #3498db;
          padding-right: 1.5em;
        }
        a:last-child {
          padding-left: 1em;
          cursor: pointer;
        }
      }
    }
  }
}
